@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Potvrda rezervacije";
}

@{
    int projectionID = Request.Form["projectionID"].AsInt();
    int numberOfTickets = Request.Form["numberOfTickets"].AsInt();

    var db = Database.Open("KinoDB");
    var selectQueryString = "SELECT * FROM Movies JOIN Projections ON Movies.MovieID = Projections.MovieID JOIN Halls on Projections.HallID = Halls.HallID WHERE Projections.ProjectionsID = " + projectionID.ToString();
    var row = db.Query(selectQueryString).SingleOrDefault();
}

    @Html.Label("Film:") @row.Title
    @Html.Label("Vrijeme projekcija:") @row.Time
    @Html.Label("Broj karata:") @numberOfTickets
    @Html.Label("Cijena pojedinačne karte:") @row.Price
    @Html.Label("Ukupna cijena:") @(row.Price*numberOfTickets)

<form action="ReservationConfirmation" method="post">
    @Html.Hidden("ProjectionsID", projectionID)
    @Html.Hidden("numberOfTickets", numberOfTickets)
    @Html.Hidden("Price", row.Price)
    <button type="submit">Potvrdi</button>
</form>

@section featured {
    @{
        var movieInfoRow = db.QuerySingle("SELECT Title, Description, ImagePath FROM Movies WHERE Movies.MovieID=@0", row.MovieID);
    }
    <section class="featured">
        <div class="content-wrapper">
            <img width="120" height="150" style="float: left; margin-right: 10px;" src="\@movieInfoRow.ImagePath" alt="movie poster image" />
            <h5>@movieInfoRow.Title</h5>
            <p>@movieInfoRow.Description</p>
        </div>
    </section>
}