<!DOCTYPE html>
<html lang="bs">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <title>@Page.Title - Kino web portal&trade;</title>
        
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>        
        <script src="~/scripts/moment.min.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
        <!-- include your less or built css files -->
        <!--bootstrap-datetimepicker-build.less will pull in "../bootstrap/variables.less" and "bootstrap-datetimepicker.less"; or <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />-->  
        </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/">Kino Web Portal</a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                Dobrodošli, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                @if (User.IsInRole("Administration"))
                                {
                                    <form id="adminpanelForm" action="~/Administration" method="post" style="display:inline">
                                        @AntiForgery.GetHtml()
                                        <a href="javascript:document.getElementById('adminpanelForm').submit()">Administracija</a>
                                    </form>
                                }
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Odjava</a>
                                </form>
                            </text>
                        } else {
                            <ul>
                                <li><a href="~/Account/Register">Registracija</a></li>
                                <li><a href="~/Account/Login">Prijava</a></li>
                            </ul>
                        }
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (WebSecurity.IsAuthenticated)
                            {
                                <li><a href="~/Account/ReservationHistory">Historija rezervacija</a></li>
                            }
                            <li><a href="~/">Početna stranica</a></li>
                            <li><a href="~/About">O nama</a></li>
                            <li><a href="~/Contact">Kontakt</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Kino web portal</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>